{% extends 'base.j2' %}

{% block content %}
    <h1>Hello, {{ user['username'] }}!</h1>
    <br>
    {% for post in posts %}
    <p>{{ post.author.username }} says <strong>{{ post.body }}</strong></p>
    {% endfor %}
{% endblock %}